{% extends 'layout.html' %}

{% block content %}

<form action="{% url 'app:edit_memo' memo.id %}" method="POST" class="pt-3">{% csrf_token %}
    <table>
        <tr>
            <th>タイトル</th>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <th>テキスト</th>
            <td>{{ form.text }}</td>
        </tr>
    </table>
    <div class="btn-toolbar">
        <div class="btn-group gap-2 mt-3">
            <button class="btn btn-primary" type="submit">保存</button>
            <a class="btn btn-secondary" href="{% url 'app:detail' memo.id %}">戻る</a>
        </div>
    </div>
</form>

{% endblock %}